{{ 'lookbook.css' | asset_url | stylesheet_tag }}

<div class="lookbook" style="max-width: {{ settings.page_width }}px;">
  <div class="lookbook__banner">
    {% for block in section.blocks %}
      <span data-slide={{ forloop.index }} style="top:{{ block.settings.vertical_position }}%; left:{{ block.settings.horizontal_position }}%" class="lookbook__dot"></span>
    {% endfor" %}

    {% if section.settings.lookbook_banner != blank %}
      <picture>
        <source srcset="{{ section.settings.lookbook_banner | image_url:width: 800 }}" media="(min-resolution: 2dppx)">
        <source srcset="{{ section.settings.lookbook_banner | image_url:width: 600 }}">
        <img src="{{ section.settings.lookbook_banner | image_url:width: 600 }}" width="400" height="500" alt="{{ section.settings.lookbook_banner.alt }}">
      </picture>
    {% endif %}
  </div>

  <div class="lookbook__carosel">
    {% for block in section.blocks %}
      {%- assign lookbook_product = all_products[block.settings.product] -%}

      <div class="lookbook__card-container{% if forloop.index > 1 %} hidden-structure{% endif %}">
        <form class="lookbook__card" method="post" action="/cart/add" novalidate="novalidate" data-type="add-to-cart-form">
          <input type="hidden" name="id" value="{{ lookbook_product.variants.first.id }}" />

          {% if lookbook_product.media[1] != blank %}
          <div class="lookbook__card__img--container">
            <img class="lookbook__card__img" src="{{ lookbook_product.featured_image | image_url:width: 600 }}" height="100" width="100" alt="{{ lookbook_product.featured_image.alt }}"/>
            <img class="lookbook__card__img--back" src="{{ lookbook_product.media[1] | image_url:width: 600 }}" height="100" width="100"alt="{{ lookbook_product.media[1].alt }}" />
          </div>
          {% else %}
            <img class="lookbook__card__img" src="{{ lookbook_product.featured_image | image_url:width: 600 }}" height="100" width="100" alt="{{ lookbook_product.featured_image.alt }}" />
          {% endif %}
          
          <div class="lookbook_card__text">
            <h4 class="lookbook__card__text__title">{{ lookbook_product.title }}</h4>
            <label class="lookbook__card__text__money">{{ lookbook_product.price | money }}</label>
          </div>
          
          <button id="lookbook-atc" value="Add to cart" class="lookbook__button">Add to Cart</button>
        </form>
      </div>
    {% endfor %}
  </div>
</div>

<script>
  window.addEventListener('load', function() {
    // Lookbook Carosel Logic;
    $('.lookbook__carosel').slick({
      dots: true,
      arrows: false,
      infinite: true,
      slidesToShow: 1,
    })

    $('.lookbook__card-container').removeClass("hidden-structure")

    // Lookbook Cordinates;
    $('.lookbook__dot').each(function(index, el) {
      $(el).on('click', function() {
        $('.lookbook__carosel').slick('slickGoTo', $(el).data('slide') - 1);
      });
    });

    // Lookbook ATC Button;
    $('.lookbook__button').on("click", function(e){
      e.preventDefault();

      let thisButton = $(this);
      let productId = $(this).siblings('input[name="id"]').val();;
  
      $.ajax({
        type: "POST",
        url: '/cart/add.js',
        data: {
          id: productId,
          quantity: 1
        },
        success: function(response) {
           $(".cart-notification").addClass("active")
           $(".icon-cart-empty").css("display", "none")
           $(".custom__icon-cart").css("display", "inherit")
           $(".custom__cart__count").css("display", "inherit")
           let cartCountUpdate = parseInt($(".cart-count-bubble span:first").text())
           $(".cart-count-bubble span:first").text(cartCountUpdate + 1)
        },
        error: function(xhr, status, error) {
          alert("Sold Out!")
        },
        dataType: 'json'
      });
    });
    
  })
</script>


{% schema %}
  {
    "name": "Lookbook Section",
    "settings": [
      {
        "type": "image_picker",
        "id": "lookbook_banner",
        "label": "Banner"
      }
    ],
   "blocks": [
      {
        "type": "Bulletpoint",
        "name": "Product",
        "settings": [
          {
            "id": "enable_dot",
            "type": "checkbox",
            "label": "Enable Dot"
          },
          {
            "id": "vertical_position",
            "type": "range",
            "min": 0,
            "max": 100,
            "step": 1,
            "default": 50,
            "unit": "%",
            "label": "Vertical Position"
          },
          {
            "id": "horizontal_position",
            "type": "range",
            "min": 0,
            "max": 100,
            "step": 1,
            "default": 50,
            "unit": "%",
            "label": "Horizontal Position"
          },
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          }
        ]
      }
    ],
     "presets": [
        {
          "name": "Lookbook Section"
        }
     ]
  }
{% endschema %}
